* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family:monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: auto;
  text-align: center;
  padding: 10px;
  background-image: url(images/background.jpg);
  background-position: center;
  margin: 0 auto;
}

.logo {
  background-image: url(images/app_icon.png);
  position: absolute;
  scale: 6.5%;
  top: -475px;
  left: -475px;
  z-index: 1;
}


.title {
  background: #1a3a8f;
  border: 3px solid #3e64ff;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 0 0 10px #3e64ff;;
}

.description-container {
  background: #1a3a8f;
  border: 3px solid #3e64ff;
  padding: 10px 20px;
  border-radius: 15px;
  color: #ffffff;
  font-size: 1.6rem;
  margin-bottom: 50px;
  text-shadow: 0 0 20px #66c0f4;
}

.homescreen {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 50px;
  box-shadow: 0 0 40px #66c0f4;
  background-color:#1a3a8f;
  border: 4px solid #3e64ff;
  
}

.start-button {
  display: inline-block;
  background-color: #1a3a8f;
  font-weight: bold;
  color: white;
  padding: 12px 24px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-shadow: 0 0 15px white;
}

.start-button:hover {
  background-color: #3e64ff;
  box-shadow: 0 0 10px #3e64ff;
}

/* Responsive for tablets */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .description-container {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  .start-button {
    font-size: 1rem;
    padding: 10px 20px;
  }
}

/* Responsive for mobile */
@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }

  .description-container {
    font-size: 1rem;
  }

  .start-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
