* {
    margin: 0;
    padding: 0;
    box-sizing: a;
  }

.btn{
    cursor: pointer;
    background: #1a3a8f;
    border: 2px solid #3e64ff;
    border-radius: 10px;
    padding: 15px 20px;
    color: white;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #3e64ff;
    box-shadow: 0 0 10px #3e64ff;
}
.btn-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin: 25px 0;
    width: 100%;
}
.answer-buttons{
    background-color: #1a3a8f;
}

#question-container {
    color: white;
    width: 50%;
    text-shadow: 0 0 15px white;
}

#question-image {
    display: inline-block;
    border-radius: 20px;
    width: 40%;
    height: 40%;
    margin: 0 auto;
    margin-top: 20px;
    border: solid #1a3a8f;
    box-shadow: 0 0 20px#1a3a8f;
}

#photo-container {
    width: auto;
    margin: auto;
    align-items: center;
    margin-top: 100px;
}

#match-photo {
    width: 20%;
    margin: auto;
    margin-bottom: 20px;
    border: solid #1a3a8f;
    box-shadow: 0 0 20px#1a3a8f;
    border-radius: 30px;
}

#photo-message {
    background: #1a3a8f;
    border: 2px solid #3e64ff;
    border-radius: 10px;
    box-shadow: 0 0 10px#1a3a8f;
    padding: 15px 20px;
    color: white;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 500px;
    margin: auto;
}

#yes-button {
    margin-right: 100px;
}
#no-button {
    margin-left: 100px;
}

body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 20px;
    background-image: url(/images/background.jpg);
    background-position: center;
    margin:0 auto;
  }

#result-container{
    display: inline-block;
    background-color: #66c0f4;
    font-weight: bold;
    color: rgb(16, 26, 54);
    padding: 12px 24px;
    font-size: 1.2rem;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 20px #66c0f4;
    width: 750px;
}

#restart-button {
    display: inline-block;
    background-color: rgb(16, 26, 54);
    font-weight: bold;
    color: white;
    padding: 12px 20px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
}

#start-photo-btn {
    margin-top: 10px;
}
#restart-button:hover {
    background-color: rgb(16, 26, 54);
    box-shadow: 0 0 10px rgb(16, 26, 54);
}

.hide {
    display: none !important;
}
